<form method="post" action="/updated/pass/done">
    <input type="hidden" name="email" value="<%= mail %>"/>
    <input id="password" name="pass" type="password" pattern="^\S{2,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 2 characters' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;" placeholder="Password" required>

    <input id="password_two" name="password_two" type="password" pattern="^\S{2,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Password does not match ' : '');" placeholder="Verify Password" required>
<button type="submit">change password</button>
</form>