<form class="form-control text-center container " method="post" action="/recovery/pass/email">
<input class="form-control form-control-lg my-4 text-center" name="email" type="email" required placeholder="enter your verification email here"/>
<button class="btn btn-warning"  type="submit" >send verification email</button>
</form>